/bin
/obj
/React-Receiver.Tests/obj
/React-Receiver.Tests/bin
/.nuget
/.dotnet
/artifacts
/React-Receiver.Tests/artifacts
/.dotnet-home
/.artifacts
/React-Receiver.Tests/.artifacts
/obj_verify
/bin_verify
/React-Receiver.Tests/bin_verify
/React-Receiver.Tests/obj_verify
/.azurite
/node_modules
